body {
    max-width: 55em;
    margin: auto;
    background-image: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(234, 245, 255) 100%);
    background-color: white;
    background-repeat: space;
    align-items: center;
    padding: 1vw 1vw 1vw 1vw;
}

.body-dark {
    max-width: 55em;
    margin: auto;
    background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(25, 27, 27) 100%);
    background-color: black;
    background-repeat: space;
    align-items: center;
    padding: 1vw 1vw 1vw 1vw;
}

.header {
    text-align: center;
    font-size: 45px;
    border-radius: 25px 25px 0px 0px;
    background-image: linear-gradient(0deg, rgb(255, 15, 15) 0%, rgb(196, 13, 0) 100%);
    color: white;
    text-shadow: 2px 2px 0.5px rgba(0, 0, 0, 0.5);
    font-family: Georgia;
    align-items: center;
    padding-top: 8mm;
    padding-bottom: 8mm;
}

.header-dark {
    text-align: center;
    font-size: 45px;
    border-radius: 25px 25px 0px 0px;
    background-image: linear-gradient(0deg, rgb(121, 0, 0) 0%, rgb(41, 3, 0) 100%);
    color: white;
    text-shadow: 2px 2px 0.5px rgba(0, 0, 0, 0.5);
    font-family: Georgia;
    align-items: center;
    padding-top: 8mm;
    padding-bottom: 8mm;
}

.header button {
    background-color: unset;
    border-style: none;

}

.logo-github,
.mode-button {
    width: 10mm;
    height: 10mm;
    background-color: white;
    padding: 1mm;
    margin: 1mm;
    border-radius: 100%;
    box-shadow: 0 0 4px white;
    filter: saturate(0);
}

.mode-button-dark {
    width: 10mm;
    height: 10mm;
    background-color: rgb(0, 0, 0);
    padding: 1mm;
    border-radius: 100%;
    box-shadow: 0 0 4px white;
}


.logo-github:hover,
.mode-button:hover {
    animation: 1s forwards githubhover;
}

.logo-github:not(:hover),
.mode-button:not(:hover) {
    animation: 1s forwards githubout;
}

@media only screen and (min-width: 700px) {
    .header {
        display: flex;
        line-height: 0;
    }
}

.header .image {
    width: 25%;
}

@media only screen and (max-width: 700px) {
    .header .image {
        width: 100%;
    }
}

.header .image img:hover {
    animation: 1s forwards imagehover;
}

.header .image img:not(:hover) {
    animation: 1s forwards imageout;
}

.header .name {
    font-size: 8mm;
    text-align: left;
    align-items: center;
    width: 75%;
}

@media only screen and (max-width: 700px) {
    .header .name {
        text-align: center;
        width: 100%;
    }
}

.header .image img {
    border-radius: 100%;
    box-shadow: 0 0 15px black;
    object-fit: cover;
}

.container {
    font-family: Verdana;
    align-items: center;
    background-image: linear-gradient(0deg, rgb(213, 235, 255) 0%, rgb(240, 246, 248) 100%);
}

.container-dark {
    font-family: Verdana;
    align-items: center;
    background-image: linear-gradient(0deg, rgb(25, 27, 29) 0%, rgb(13, 13, 14) 100%);
    color: white;
}

@media only screen and (min-width: 700px) {
    .container {
        display: flex;
    }

    .container .lateral1 {
        border: solid rgb(225, 223, 238);
        border-width: 0 1px 0 0;
        width: 50%;
    }

    .container .lateral2 {
        border: solid rgb(225, 223, 238);
        border-width: 0 0 0 1px;
        width: 50%;
    }
}

@media only screen and (max-width: 700px) {
    .container .lateral1 {
        border: solid rgb(225, 223, 238);
        border-width: 0 0 1px 0;
    }

    .container .lateral2 {
        border: solid rgb(225, 223, 238);
        border-width: 0 0 1px 0;
    }
}

.container .lateral1 {
    text-align: left;
    padding: 10mm;
}

.container .lateral1 h2,
.container .lateral2 h2 {
    background-image: linear-gradient(0deg, rgb(255, 15, 15) 0%, rgb(196, 13, 0) 100%);
    padding: 1vw;
    border-radius: 25px 25px;
    color: white;
    font-family: Arial;
    text-shadow: 2px 2px 0.5px rgba(0, 0, 0, 0.5);
    text-align: left;
    margin: auto;
}

.container .lateral1-dark h2,
.container .lateral2-dark h2 {
    background-image: linear-gradient(0deg, rgb(121, 0, 0) 0%, rgb(41, 3, 0) 100%);
    padding: 1vw;
    border-radius: 25px 25px;
    color: white;
    font-family: Arial;
    text-shadow: 2px 2px 0.5px rgba(0, 0, 0, 0.5);
    text-align: left;
    margin: auto;
}

.container .lateral1 h2:not(:hover),
.container .lateral2 h2:not(:hover) {
    animation: 0.5s forwards out1;
}

.container .lateral1 h2:hover,
.container .lateral2 h2:hover {
    animation: 0.5s forwards hover1;
}

.container .lateral2 {
    text-align: justify;
    padding: 10mm;
}

.footer {
    text-align: center;
    background-image: linear-gradient(0deg, rgb(255, 15, 15) 0%, rgb(196, 13, 0) 100%);
    border-radius: 0 0 25px 25px;
}

.footer-dark {
    text-align: center;
    background-image: linear-gradient(0deg, rgb(121, 0, 0) 0%, rgb(41, 3, 0) 100%);
    border-radius: 0 0 25px 25px;
}

.footer a {
    font-family: Georgia;
    text-shadow: 2px 2px 0.5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    line-height: 12mm;
}

.footer a {
    font-family: Georgia;
    text-shadow: 2px 2px 0.5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    line-height: 12mm;
}

.footer a:not(:hover),
.footer a:not(:hover) {
    animation: 0.5s forwards out1;
}

.footer a:hover,
.footer a:hover {
    animation: 0.5s forwards hover1;
}

@keyframes imagehover {
    0% {
        box-shadow: 0px 0px 15px black;
    }

    100% {
        box-shadow: 0px 0px 30px white;
    }
}

@keyframes imageout {
    0% {
        box-shadow: 0px 0px 30px white;
    }

    100% {
        box-shadow: 0px 0px 15px black;
    }
}



@keyframes githubhover {
    0% {
        filter: saturate(0);
        width: 10mm;
        height: 10mm;
        box-shadow: 0 0 4px white;
    }

    100% {
        filter: saturate(100%);
        width: 12mm;
        height: 12mm;
        box-shadow: 0px 0px 30px white;
    }
}

@keyframes githubout {
    0% {
        filter: saturate(100%);
        width: 12mm;
        height: 12mm;
        box-shadow: 0px 0px 30px white;
    }

    100% {
        filter: saturate(0);
        width: 10mm;
        height: 10mm;
        box-shadow: 0 0 4px white;
    }
}

@keyframes hover1 {
    0% {
        font-size: 25px;
    }

    100% {
        font-size: 30px;
    }
}

@keyframes out1 {
    0% {
        font-size: 30px;
    }

    100% {
        font-size: 25px;
    }
}
